body{
  background-color: #666464;
  color: white;
}

h1{
  color: white;
  text-align: center;
  font-size: 30px;
}

li{
  list-style-type: none;
  padding: 10px;
 
  color: white;
  border-radius: 15px;
  text-align: center;
  text-decoration: none; 
  
}

nav{
  background-color:#363636
}
ul{
  display: flex;
  margin: auto;
  text-align: center;
}

li{
  font-size: 16px;
  margin: 30px auto;

}
a{
  color: aqua;
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
  
}

li:hover{
  border: 1px solid white;
}

h2{
  border: 1px solid black;
  background-color: #363636;
  color: white;
  padding: 7px;
  margin: 18px 7%;
  box-shadow: 0px 0px 10px 2px #363636;
}
h2:hover{
  color: aqua;
  box-shadow: none;
}