.Footer{
    text-align: center;
    font: 30px sans-serif;
    text-decoration: wavy;
}
.Footer:hover{
    text-decoration: underline;
}
.Pagenotefound{
    font-size: 40px;
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
    color: aqua;
}
.Image{
    margin-left: 40%;
}